<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div th:fragment="navbar(activeLink)">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top align-content-center">
        <a class="navbar-brand" href="/"><img alt="Home" src="/images/home_4517933.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/users/add" th:classappend="${activeLink == 'add-offer'}? 'active'">Add User</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/users/all" th:classappend="${activeLink == 'all-offers'}? 'active'">All Users</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/masters/login" th:classappend="${activeLink == 'login'}? 'active'">Login</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/masters/logout}" th:method="POST">
                        <input class="btn btn-link" type="submit"  value="Logout" />
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</div>
</body>
</html>
