<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <title>Users App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div th:object="${userDetails}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >

            <div class="card-body pb-1">
                <h5 class="card-title">
                    <span><th:block th:text="${userDetails.firstName}"></th:block></span>
                    <span><th:block th:text="${userDetails.lastName}"></th:block></span>
                </h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• First name: <th:block th:text="${userDetails.firstName}"></th:block></span></div>
                    <div class="card-text"><span>• Last name: <th:block th:text="${userDetails.lastName}"></th:block></span></div>
                    <div class="card-text"><span>• Birth date: <th:block th:text="${userDetails.birthDate}"></th:block></span></div>
                    <div class="card-text"><span>• Phone number: <th:block th:text="${userDetails.phoneNumber}"></th:block></span></div>
                    <div class="card-text"><span>• email: <th:block th:text="${userDetails.email}"></th:block></span></div>
                </li>
            </ul>
            <div class="card-body">
                <form class="d-inline-block"
                      th:method="DELETE"
                      th:action="@{/users/{id}(id=${userDetails.getUuid()})}">
                    <button class="btn btn-danger" type="submit" th:text="'Delete User'"></button>
                </form>

                <span class="col-auto ml-auto"> Update user details:</span>
                <form class="d-inline-block"
                      th:method="GET"
                      th:action="@{/users/update/{id}(id=${userDetails.getUuid()})}">
                    <button class="btn btn-warning" type="submit" th:text="'Update user'"></button>
                </form>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img src="/images/StockCake-Futuristic%20interface%20interaction_1737284223.jpg" class="card-img-top"  alt="image">
        </div>
    </div>
</div>

<div>
             <footer> </footer>
</div>

</body>
</html>
